@font-face {
  font-family: 'Doctor';
  src: url(./Doctor-Who.ttf);
}

body{
  margin: 0;
  padding: 0;
  background-color: black;
}

.BOX {
    /* justify-content: center; */
    /* align-items: center; */
    position: absolute;
    bottom: 10%;
    left: 22%;
    margin: -10%;
    height: 80vh;
    scale: 30%;
   transition: transform 1.5s;
   cursor: pointer;
}

.BOX img{
    max-width: 100%;
    max-height: 100%;
}

.BOX:hover{
    transform:rotate(360deg)
    
}

.ww{
    position: absolute;
    color: white;
    font-size: 8vh;
    opacity: 0;
    transition: opacity 0.3 ease;  
    text-align: right;
    top: 80%;
    right: 30%;
    transform: translate(-50%, -50%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}



.ww:hover{
  opacity: 1;
}




.run{
  position: absolute;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;
    color: white;
    word-spacing: 50pt;
    font-size: 12vh;
    left: 5%;
    top: 8%;
    font-family: 'Doctor', sans-serif;
}

.dont {

  color: white;
  position: absolute;
  top: 10px;
  /* background-color: pink; */
  font-size: 4vh;
  right: 50px;
  text-align: right;
  font-family: 'Doctor', sans-serif;
  word-spacing: 20pt;
  animation: melt 4s infinite;
}

@keyframes melt {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(200px);
  }
}


.blink {
  position: absolute;
  color: white;
  right: 16vh;
  bottom: 20%;
  transform: rotate(-30deg);
  font-family: 'Doctor', sans-serif;
  font-size: 4vh;
  animation: blink-effect 1.5s step-end infinite;
}

@keyframes blink-effect {
  70%{
    opacity: 0;
  }
}

.tt{
  position: absolute;
  height: 16vh;
  right: 3%;
  bottom: 5%;
  margin: 10px;
  transition: opacity 0.3 ease;
  opacity: 1;
}

.tt:hover{
  opacity:0;
}

.angg{
  position: absolute;
  height: 20vh;
  right: 3%;
  bottom: 5%;
  opacity: 0; 
  transition: opacity 0.3 ease;
  z-index: 1;
}
.angg:hover{
  opacity:1;
}


.mm{
  display: absolute;
  font-family: 'Doctor', sans-serif;
  color: white;
  font-size: 10vh;
  right: 50%;
  animation: shaky-animation 4s infinite ;
  background-color: aqua;
  text-align: center; 
}

@keyframes shaky-animation {
    0% { 
    text-shadow: 0 0 1px white; /* 초기 위치 */
  }
  25% {
    text-shadow: 5px -5px 1px white; /* 오른쪽 위로 흔들림 */
  }
  50% {
    color: #010101; /* Red */
    text-shadow: -5px 5px 1px white; /* 왼쪽 아래로 흔들림 */
  }
  75% {
   
    text-shadow: 5px 5px 1px white; /* 오른쪽 아래로 흔들림 */
  }
  100% {
    text-shadow: 0 0 1px white; /* 왼쪽 위로 흔들림 */
  }
}